*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e2e44;
}
.container {
 position: relative;
    color: #fff;
    background-color: #000;
    border: 2px solid black;
    width: 425px;
    padding: 3rem;
    box-shadow: 0 5px 25px rgba(14,21, 37, 0.8);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin:5px;
    text-align: center;
}

.passwordBox {
    background-color: white;
    color: #000;
    padding: 2rem;
    border: 1px solid #000;
    margin: 1rem;
    height: 2rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: 0.5rem;
}

.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.submit{
   grid-column: span 2;
    background-color: transparent;
   border: 2px solid whitesmoke;
   color: white;
   padding: .5rem 1rem;
   font-weight: bold;
   cursor: pointer;
}

.submit:hover{
    background-color: #ffffff33;
}
    
.back-btn {
        display: block; 
        
        margin-top: 20px;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid #000;
        background-color: blue;
        color: red;
        border-radius: 8px;
        font-size: 18px;
}
    
.back-btn:hover {
        background: #000;
        color: #fff;
        cursor: grab;
}